<#@ template language="C#" debug="false" linePragmas="false" hostspecific="false" inherits="CodeWriterBase<ImmutableList<ReviewerFeedbackResponse>>" #>
<#@ import namespace="System.Collections.Immutable" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="Common" #>
<#@ import namespace="Raiqub.Generators.T4CodeWriter" #>
<#@ import namespace="v1" #>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Review Feedback</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css" integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.0/styles/default.min.css" integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.0/styles/github-dark.min.css" integrity="sha512-rO+olRTkcf304DQBxSWxln8JXCzTHlKnIdnMUwYvQa9/Jd4cQaNkItIUj6Z4nvW1dqK0SKXLbn9h4KwZTNtAyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.0/highlight.min.js" integrity="sha512-6QBAC6Sxc4IF04SvIg0k78l5rP5YgVjmHX2NeArelbxM3JGj4imMqfNzEta3n+mi7iG3nupdLnl3QrbfjdXyTg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Code Review Feedback</h1>
      <div class="content">
<#
    foreach (var response in Model)
    {
#>
        <div class="box">
            <h2 class="subtitle">
                <span class="tag<#= GetRiskLevelCssClass(response.RiskScore) #>">Risk Score: <#= response.RiskScore #></span> <#= response.Title #>
            </h2>
            <p><strong>File:</strong> <#= response.Path #>:<#= response.LineRange #></p>
            <div class="notification">
                <#= HtmlFormatter.EncodeToHtml(response.Feedback) #>
            </div>
        </div>
<#
    }
#>
      </div>
    </div>
  </section>
  <script>hljs.highlightAll();</script>
  </body>
</html>
<#+
    public FeedbackHtmlTemplate(ImmutableList<ReviewerFeedbackResponse> model) : base(new StringBuilder())
    {
        Model = model;
    }

    public override string GetFileName() => Guid.NewGuid().ToString("N");

    private static string GetRiskLevelCssClass(int number) => number switch{
        0 => " is-white",
        1 => " is-success",
        2 => " is-warning",
        3 => " is-danger",
        _ => ""};
#>
